.contacts {
  position: relative;
}

.contacts__title {
  display: flex;
  font-size: 53px;
  line-height: 57px;
  font-weight: bold;
  position: relative;
  width: 400px;
  margin-left: 63px;
  margin-top: 0;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 35px;
}

.contacts__title::before {
  content: "";
  display: block;
  width: 47px;
  height: 81px;
  background-image: url(../images/src/icon-flag.svg);
  background-repeat: no-repeat;
  margin-right: 62px;
}

.contacts__map {
  width: 526px;
  height: 457px;
  position: absolute;
  right: 0;
}

.contacts__email {
  display: flex;
  width: 283px;
  margin-left: 173px;
  justify-content: space-between;
  color: #444444;
  margin-bottom: 30px;
}

.contacts__email a {
  color: inherit;
  border-bottom: 1px solid #62d1ba;
}

.contacts__address {
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 288px;
  margin-left: 173px;
  text-align: start;
  margin-bottom: 78px;

  &--title {
    color: inherit;
  }
}

.contacts__button {
  display: block;
  width: 230px;
  height: 52px;
  margin-left: 175px;
}

.contacts__email a:hover,
.contacts__email a:focus {
  color: #46c1ae;
}

.contacts__email a:active {
  opacity: 0.3;
}
